.seasons{
  &__img{
    width: 100%;
  }
  &__content{
    padding: 52px 0 119px;
    text-align: center;
  }
  &__title{
    @include text(bold, 32px, 42px, $black);
    letter-spacing: 0.5px;
  }
  &__text{
    @include text(bold, 16px, 24px, $black);
    letter-spacing: 0.5px;
    margin: 54px 0 30px;
  }
  &__btn{
    width: 180px;
    height: 48px;
    margin-right: 24px;
    &:last-child{
      margin-right: 0;
    }
  }
}